body{
	background: #ececec;
}
img {
	height: auto;
	max-width: 100%;
}
.content{
	margin-top: 50px;
}
.product {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #c0c0c0;
	height: 390px;
	overflow: hidden;
	padding: 25px 15px;
	position: relative;
	text-align: center;
	transition: all 0.5s ease 0s;
	margin-bottom: 20px;
}
.product:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.product-img {
	height: 150px;
}
a {
	color: #000;
	font-weight: 500;	
}

.product-title{
	color: #000;
	font-weight: 500;
	width: 100%;
    bottom: 90px;
    left: 0;
    position: absolute;
    overflow: hidden;
	border: #ececec;
	background-color: white;
}

.product-desc {
	width: 100%;
	bottom: 45px;
	left: 0;
	position: absolute;
    overflow: hidden;
}
.product-price {
	bottom: 10px;
	left: 0;
	position: absolute;
	width: 100%;
	color: #d51e08;
	font-size: 18px;
	font-weight: 500;
}